<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
<p>demo</p>
<p>{{screamIt welcomeMsg}}</p>
{{> footer}}

</body>
</html>