<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
<p><a href="/">Home</a></p>
<p><a href="/about_me">About</a></p>
<p><a href="/projects">Projects</a></p>


{{> footer}}

</body>
</html>